.title
  color: $brown
  width: 100%
  +font-size(mega)
  text-shadow: $grey 4px 4px 0

  h1
    span
      @for $i from 1 through 10
        &:nth-child(#{$i})
          position: relative
          top: -#{$i * 10}px
